div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

div.error,
#flash_failure {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}
div.error a,
#flash_failure a { color: #D12F19; }

div.notice,
#flash_notice {
  background: #FFF6BF;
  color: #817134;
  border-color: #FFD324;
}
div.notice a,
#flash_notice a { color: #817134; }

div.success,
#flash_success {
  background: #E6EFC2;
  color: #529214;
  border-color: #C6D880;
}
div.success a,
#flash_success a { color: #529214; }

.my-request{
padding:30px;
}

#prayer_request {
padding:15px;
}
