<% @page_title = "Members of the Social Prayer Network" %>

<% if can? :manage, @users %>
  <p>Hello, you are an Admin</p>
  <h2>Members of the Social Prayer Network</h2>
  
<% else %>
  <p>Hello, you are logged in as <%= current_user.email %></p>
<% end %>
<% @users.each do |user| %>
    <p><%= image_tag avatar_url(user) %>
<%= user.email %></p>
  
<% end %>

<br />
<hr />
<%= will_paginate @prayers %>
<br />

