<% @page_title = "Verify" %>
<% @page_tagline = "Enter the code we sent to your cell phone" %>

<% form_tag cellphone_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :code %>
    <%= submit_tag "Submit Verification Code", :name => nil %>
  </p>
<% end %>

<%= link_to 'Back', cellphones_path %>
