<% @page_title = "Dealing with #{@category.name}" %>
<% @page_tagline = "Thank you" %>

<% if can? :update, Category%>
<%= link_to 'Edit This Category Name', edit_category_path(@category) %>
<% end %>

<% @resources.each do |resource| %>
<p><%= resource.title %></p><br />
<p><%= resource.url %></p>
<% end %>


