<p id="notice"><%= notice %></p>

<h1><%= @category.name %> Requests</h1>

<% if can? :update, Category%>
<%= link_to 'Edit This Category Name', edit_category_path(@category) %>
<% end %>

<% @prayers.each do |prayer| %>
<p><%= prayer.request %></p>
<% end %>


